.second {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 90%;
  margin: 50px;
}
.searc {
  background-color: #2850a7;
  border-style: solid;
  border-width: 0.5px;
  border-color: #6697ff;
  height: 30px;
}
.search {
  background-color: #2850a7;
  border-style: solid;
  border-width: 0.5px;
  border-color: #6697ff;
  height: 30px;
  margin-left: 20%;
}
.lis {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}
.lisd {
  display: flex;

  margin-left: 25px;
  margin-right: 25px;
}
